# Node & loggar
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Miljö & hemligheter
.env
.env.local
*.env.*

# Databaser & uppladdningar
db/*.db
db/*.sqlite
public/uploads/

# OS/Editor
.DS_Store
.vscode/
.idea/
*.db
